body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-weight: bold;
    text-align: center;
}

ul {
    max-width: 600px;
    margin: auto;
    padding: 0;
    list-style-type: none;
}

ul li {
    background: #e7e7e7;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

a {
    display: block;
    max-width: 600px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #007BFF;
    margin-top: 20px;
}
a:hover {
    text-decoration: underline;
}
